
/* =====[Base]===== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 1617px;
}

body {
    background:
        linear-gradient(
            to top,
            rgba(15,23,32,1) 30%,
            rgba(15,23,32,0.8) 50%,
            rgba(15,23,32,0.4) 80%,
            rgba(15,23,32,0) 100%
        ),
        url("https://i.postimg.cc/v87JYLLG/2026-03-05-00-48-18.png") center/cover no-repeat fixed;
    margin: 0;
    color: #e6edf3;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    height: 1617px;
}

/* Key Frame */

@keyframes fillGoal {
    from {
        width:0;
    }
    to {
        width:77%;
    }
}

@keyframes stripeMove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

@keyframes sidebarSweep{
    from{
        left:-150%;
    }
    to{
        left:200%;
    }
}

@keyframes modalShake{
    0%{transform:translateX(0);}
    20%{transform:translateX(-6px);}
    40%{transform:translateX(6px);}
    60%{transform:translateX(-4px);}
    80%{transform:translateX(4px);}
    100%{transform:translateX(0);}
}

.login-box.shake{
    animation: modalShake 0.35s ease;
}


/* Page Container */
.container {
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* Topbar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    border-radius: 6px;
}

.topbar-left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.topbar-right {
    display:flex;
    gap:8px;
    align-items:center;
}

.back-button,
.currency {
    background:#202f41;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 999px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    outline: 1px solid #2e4055;
}

.back-button:hover,
.currency:hover {
    opacity: 0.9;
    transition: 0.2s;
}

/* Topbar Basket */

.basket{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#99C6F8;
    padding: 4px 16px;
    border-radius: 14px;
    min-width: 260px;
    height: 72px;
    cursor: pointer;
    overflow: hidden;
}

.basket:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.basket-text {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: #000000;
}

.basket-text strong {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.basket-text span {
    font-size: 14px;
    margin-left: 8px;
    margin-top: -28px;
    font-weight: 700;
}

.basket-avatar {
    width: 55px;
    height: 85px;
}

.basket-player {
    height: 120px;
    width: auto;
}

/* Topbar Currency */

.currency-wrapper {
    position: relative;
}

.currency-menu {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%, -10px) scaled(0.95);
    background: #1a2430;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition:
        opactity 0.18s ease,
        transform 0.18s ease,
        visibility 0.18s ease;
}

.currency-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0) scale(1);
}

.currency-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 500;
    gap: 10px;
}

.currency-grid button {
    transition: transform 0.12s ease, box-shadow 0.12s ease;
    background: #e6ccd6;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.currency-grid button:hover {
    transform: translateY(-2px);
}


/* =====[Server Header]===== */

.server-header {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    border-radius: 8px;
    margin-top: 10px;
}

.server-logo {
    width: 270px;
}

.server-left {
    margin-right: 80px;
}

.server-right{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:5px;
    margin-left: auto;
}

.server-center {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 14px;
    cursor: pointer;
}

.server-center:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.2s;
}

/* Play buttons */

.play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #99C6F8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.server-info{
    display:flex;
    flex-direction:column;
}

.server-ip{
    font-weight:700;
    font-size:22px;
    color: white;
}

.server-players{
    color:white;
    font-size:13px;
    font-weight: 700;
    margin-top: 4px;
}

.player-number {
    background: #99C6F8;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 999px;
    font-weight: 500;
    margin-right: 4px;
}

/* Icon buttons */

.server-icons {
    display: flex;
    gap: 10px;
}

.icon-square{
    width:64px;
    height:64px;
    margin-right: 5px;
    margin-left: 0px;
    border-radius:12px;
    border:none;
    font-size:22px;
    cursor:pointer;
}

.icon-square:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.2s;
}

/* Icon bottom buttons */

.server-buttons{
    display:flex;
    gap:10px;
}

.pill-button{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding:8px 20px;
    border-radius:999px;
    border:1px solid #d3cfd4;
    background:#efedf0;
    color: black;
    font-weight:600;
    font-size:15px;
    cursor:pointer;
    overflow:hidden;
    z-index:2;
}

/* shine layer */
.pill-button::before{
    content:"";
    position:absolute;
    top:0;
    left:-150%;
    width:120%;
    height:100%;

    background:linear-gradient(
        120deg,
        transparent 30%,
        #2ca1c5 50%,
        transparent 70%
    );

    transform:skewX(-20deg);
    z-index:1;
}

/* run animation */
.pill-button:hover::before{
    animation: sidebarSweep 1.8s ease;
}

.pill-button:hover{
    background:#f7f7f7;
}

/* Copy IP Popup */

#copy-popup{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background: #99C6F8;
    color: #000000;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

#copy-popup.show{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* Body */

.body {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    align-items: flex-start;
}

/* Sidebar */

.left-column {
    width: 350px;
    margin-left: 10px;
}

.sidebar {
    width: 100%;
    background: #202f41;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.sidebar-title {
    text-align: center;
    color: #99C6F8;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}

/* Sidebar Items */

.sidebar-item{
    position: relative;
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-radius:10px;
    text-decoration:none;
    color:#F9FCC7;
    font-weight:600;
    margin-bottom:10px;
    background:#1e2c3d;
    overflow:hidden;
    transition:all .25s ease;
    cursor: pointer;
}

/* animated light sweep */
.sidebar-item::before{
    content:"";
    position:absolute;
    top:0;
    left:-150%;
    width:120%;
    height:100%;

    background:linear-gradient(
        120deg,
        transparent 30%,
        #F9FCC7 50%,
        transparent 70%
    );

    transform:skewX(-20deg);
}

/* sweep animation */
.sidebar-item:hover::before{
    animation: sidebarSweep 1.7s ease;
}

/* hover state */
.sidebar-item:hover{
    background:#2a3c52;
    transform:translateX(4px);
}

/* keep content above animation */
.sidebar-item img,
.sidebar-text{
    position:relative;
    z-index:2;
}

/* Active item */

.sidebar-item.active {
    background:#2a3c52;
}

/* Content */

.content {
    flex:1;
    padding-left: 20px;
    padding-right: 20px;
}

.welcome-card {
    background: #202f41;
    border-radius:10px;
    padding: 25px;
    margin-bottom: 30px;
}

.welcome-card h2 {
    margin-top: 0;
}

.welcome-card a {
    color:#99C6F8;
    text-decoration: none;
}

/* Rank Store Grid */

.rank-store{
    display:grid;
    grid-template-columns:repeat(auto-fit,max(250px));
    gap: 20px;
}

/* Rank Card */

.rank-card *{
    position: reloative;
    z-index: 2;
}

.rank-card{
    position: relative;
    background:#2a3c52;
    border-radius:12px;
    padding: 30px 20px;
    text-align:center;
    color:#F9FCC7;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:transform .2s ease;
    overflow: hidden;
}

.rank-card::before{
    content:"";
    position: absolute;
    top: 0;
    left: -150%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent 30%,
        #f9fcc7 50%,
        transparent 70%
    );
    transform: skewX(-20deg);
}

.rank-card:hover{
    transform:translateY(-5px);
}

.rank-card:hover::before{
    animation: sidebarSweep 1.7s ease;
}

/* Rank Icon */

.rank-icon{
    width:150px;
    margin-bottom:15px;
}

/* Rank Name */

.rank-card h3{
    margin:0;
    font-weight:600;
}

/* Price */

.rank-price{
    font-weight:800;
    margin-top:6px;
    margin-bottom:18px;
}

/* Buttons */

.rank-actions{
    display:flex;
    justify-content:center;
    gap:10px;
}

.info-btn{
    width:40px;
    height:40px;
    border:none;
    border-radius:10px;
    background:#e6ccd6;
    font-weight:700;
    cursor:pointer;
}

.cart-btn{
    background:#4CAF50;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    color:white;
    font-weight:600;
    cursor:pointer;
}

.cart-btn:hover{
    opacity:.9;
}

/* Community Goal */

.community-goal {
    margin-top: 20px;
    background: #202f41;
    border-radius: 10px;
    padding: 18px;
}

.goal-title {
    text-align: center;
    color: #00c6f8;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.goal-percent {
    text-align: center;
    font-size: 14px;
    margin-bottom: 12px;
}

/* Progress Bar */

.goal-bar {
    width: 100%;
    height: 18px;
    background: #3a4c61;
    border-radius: 999px;
    overflow: hidden;
}

.goal-progress {
    height:100%;
    border-radius:999px;
    width:0;
    background: repeating-linear-gradient(
        45deg,
        #F9FCC7,
        #F9FCC7 12px,
        #f9fcc7a6 12px,
        #f9fcc7a6 24px
    );
    background-size: 40px 40px;
    box-shadow: inset 0 0 6px rgba(255,255,255,0.4);
    animation:
        fillGoal 1.8s ease forwards,
        stripeMove 2s linear infinite;
}

/* Top Customer */

.top-customer {
    margin-top:25px;
    background:#202f41;
    border-radius:10px;
    padding:15px;
}

.top-title {
    text-align:center;
    color:#99C6F8;
    margin:0 0 0px 0;
    font-weight:700;
}

/* Player row */

.top-player {
    display:flex;
    align-items:center;
    gap:12px;
    height: 100px;
    overflow: hidden;
}

/* Player skin */

.top-skin {
    height:140px;
    margin-bottom: -40px;
}

/* Player text */

.top-info {
    display:flex;
    flex-direction:column;
    line-height: 2;
}

.top-info strong {
    font-size:20px;
    font-weight: 700;
}

.top-info span {
    font-size:13px;
    font-weight: 500;
}

/* Footer */

.site-footer {
    margin-top: 30px;
    background:#1a2430;
    padding: 32px;
    color:#ffffff;
}

.footer-inner {
    max-width:1300px;
    margin:auto;
    padding:0 30px;
    display:flex;
    justify-content:space-between;
    gap:40px;
}

.footer-column{
    flex:1;
}

.footer-column h3{
    color:#99C6F8;
    font-style:italic;
    margin-bottom:10px;
}

.footer-column p {
    font-size: 15px;
    line-height: 1.8;
}

.footer-links {
    list-style:none;
    padding:0;
    margin:0;
}

.footer-links li {
    padding:10px 0;
    border-bottom:1px dashed rgba(255, 255, 255, 0.1);
}

.footer-links a {
    text-decoration:none;
    color:#ffffff;
}

.footer-bottom {
    max-width:1300px;
    margin: 30px auto 0;
    padding: 10px 30px;
    background:#273444;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size:14px;
}

.footer-bottom strong {
    font-weight: 900;
}

/* ===== Login Modal ===== */

.login-modal{
    position: fixed;
    inset:0;
    background: rgba(0,0,0,0.65);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    visibility:hidden;
    transition:0.25s;
    z-index:999;
}

.login-modal.active{
    opacity:1;
    visibility:visible;
}

.login-box{
    background:#f3e7ec;
    width:420px;
    border-radius:12px;
    padding:30px;
    position:relative;
    text-align:center;
    color:#333;
}

.login-close{
    position:absolute;
    top:12px;
    right:14px;
    border:none;
    background:#f4cbd8;
    width:34px;
    height:34px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.login-sub{
    color:#666;
    margin-bottom:20px;
}

.username-field{
    display:flex;
    align-items:center;
    gap:10px;
    background:#f8e6ec;
    border-radius:8px;
    padding:10px;
}

.username-field input{
    border:none;
    background:none;
    outline:none;
    flex:1;
    font-size:14px;
}

.username-head{
    width:30px;
    height:30px;
}

.bedrock-note{
    font-size:12px;
    color:#777;
    margin:10px 0 20px;
}

.login-button{
    width:100%;
    padding:14px;
    border:none;
    background:#d987a7;
    color:white;
    font-weight:700;
    border-radius:8px;
    cursor:pointer;
}

.login-button:hover{
    opacity:0.9;
}




.basket-sidebar{
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background: #1e1e1e;
    box-shadow: -5px 0 20px rgba(0,0,0,0.3);
    transition: right 0.3s ease;
    z-index: 999;
}

.basket-sidebar.active{
    right: 0;
}

.basket-overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    opacity:0;
    pointer-events:none;
    transition: opacity 0.2s;
    z-index:998;
}

.basket-overlay.active{
    opacity:1;
    pointer-events:auto;
}

.basket-sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-bottom:1px solid #333;
}

#logout-btn{
    background:#ff5a5a;
    border:none;
    padding:8px 12px;
    color:white;
    cursor:pointer;
    border-radius:6px;
}

.basket-sidebar-content ul{
    list-style:none;
    margin:0;
    padding:0;
    max-height:400px;
    overflow-y:auto;
}

.basket-sidebar-content li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
    padding:5px 0;
    border-bottom:1px solid #333;
}

.cart-item-name{
    flex:1;
}

.cart-item-price{
    margin-left:10px;
}

.remove-item-btn{
    background:#ff5a5a;
    border:none;
    color:white;
    padding:3px 6px;
    cursor:pointer;
    border-radius:5px;
    margin-left:10px;
}

.cart-total{
    font-weight:bold;
    margin-top:15px;
    text-align:right;
}

#checkout-btn{
    width:100%;
    margin-top:10px;
    padding:10px;
    background:#4caf50;
    border:none;
    color:white;
    font-weight:bold;
    cursor:pointer;
    border-radius:6px;
}